.cart-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background-color: white;
}

.cart-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 10px;
  border-bottom: 1px solid #d1ab83;
}

.item-title{
    font-family: var(--font-family-serif);
    color: #2E2D2E;
    font-size: 1.1em;
    font-weight: 600;
}

.item-img{
    width: 80px;
    height: 80px;
    object-fit: cover;
    border-radius: 10px;
}