.navbar-container{
  width: 100%;
  background-color: #191919;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  position: fixed;
  z-index: 100;
  overflow: hidden;
}

.navbar-container .navbar{
    display: flex !important;
    flex-direction: row;
    justify-content: space-between;
    padding: 1.2em 2em;
    color: #f4ece4;
    align-items: center;
    align-content: center;
    height: 70px;

  }
  
  .navbar-container .navbar .brand{
    font-family: var(--font-family-serif);
    font-size: 1.3em;
    display: flex;
    flex-direction: column;
    text-align: left;
    line-height: 1.1em;
    padding-right: 20px;
    transition: color 0.5s;
    color: #f4ece4;
  }
  .brand svg{
    color: #d1ab83;
    transition: color 0.5s;
  }
  
  .brand:hover{
    color: #d1ab83;
  }
  .brand:hover svg{
    color: #f4ece4;
  }
  .navbar-menu{
    display: flex;
    flex-direction: row;
    gap: 2em;
    align-items: center;
    align-content: center;
  }
  
  .navbar-container button {
    border-radius: 8px;
    border-width: 1px;
    border-color: #d1ab8340;
    border-style: solid;
    padding: 0.4em 1em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    background-color: transparent;
    cursor: pointer;
    transition: border-color 0.25s;
    height: fit-content;
  }
  .navbar-container button:hover {
    border-color: #d1ab83;
  }
  .navbar-container button:focus,
  .navbar-container button:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
  }
  .navbar-container button a{
    color: #d1ab83;
    text-decoration: none;
  }
  .navbar-container button:hover a{
    color: #f4ece4;
  }
  .navbar .total{
    border-color: #f4ece4;
    background-color: #f4ece4;
    transition: border-color 0.5s;
    transition: background-color 0.5s;
  }
  .navbar .total a, .total:hover a{
    color: #2e2d2d;
  }
  
  .navbar .total:hover{
    background-color: #d1ab83;
    border-color: #d1ab83;
  }

.menu-toggle{
    display: none;
}

.menu-toggle svg{
    color: #d1ab83;
    transition: color 0.5s;
}

.menu-toggle:hover svg{
    color: #f4ece4;
}

.navbar-right{
    display: flex;
    flex-direction: row;
    gap: 1.5em;
    align-items: center;
    align-content: center;
}

.menuMobile{
    display: none;
}

.tooltiptext , .tooltip:hover .tooltiptext {
  visibility: hidden;
  display: none;
}

.menuMobile .total{
  display:none;
}


@media only screen and (max-width: 767px) {
    .navbar-menu .btn-home{
      display: none;
    }

    .navbar-menu .nav-btn{
      font-size: 1.5em;
      border-color: transparent;
      padding: 0;
    }

    .navbar-menu .nav-btn .btntitle{
      display: none;
    }


    .totaltitle{
      display: none;
    }
    .tooltip {
      position: relative;
      display: inline-block;
      border-bottom: 1px dotted black;
    }
    
    .tooltip .tooltiptext {
      font-size: 0.7em;
      visibility: hidden;
      width: fit-content;
      background-color: rgba(21, 21, 21, 0.9);
      color: #f4ece4;
      text-align: center;
      border-radius: 6px;
      padding: 5px;
      margin: 0 10px;
    
      /* Position the tooltip */
      position: absolute;
      z-index: 1;
    }
    
    .tooltip:hover .tooltiptext {
      display: inline-block;
      visibility: visible;
    }
}

@media only screen and (max-width: 450px) {
  .menu-toggle{
    display: flex;
}

.menuMobile{
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    height: 100vh;
    background-color: rgba(21, 21, 21, 0.9);
    z-index: 99;
    padding-top: 5em;
    gap: 2em;
    justify-content: center;
    align-items: center;
}
.menuMobile .menu{
  display: flex;
  flex-direction: column;
  width: 50%;
  row-gap: 2em;
}

  .menuMobile .btn-home{
    width: 50%;
  }

  .navbar-menu .nav-btn{
    display: none;
  }
  .totaltitle{
    display: none;
  }

  .total{
    font-size: 0.9em;
  }

  .brand{
    font-size: 1em;
  }

}



@media only screen and (max-width: 450px) {
 
  .brand{
    display: none;
  }

  .navbar-menu .total{
    display: none;
  }

  .menuMobile .total{
    display:flex;
  }
}
