.footer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 1em 0;
    background-color: #d1ab83;
    color: #2E2D2E;
    font-family: var(--font-family-serif);
    font-size: 0.8em;
    bottom: 0;
    position: relative;
  }