
:root {
  --font-family-sans: 'DM Sans', Helvetica, Arial, sans-serif;
  --font-family-serif: 'Fraunces', Georgia, Times, serif;
}



#root {
  margin: 0;
  padding: 0;
  text-align: center;
  min-width: 100vw;
  min-height: 100vh;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #f4ece4;
    background-color: #ffffff;
  }
  a:hover {
    color: #f4ece4;
  }
  
}

/* Global styles */

body{
  font-family: var(--font-family-sans);
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  width: 100vw;
  justify-content: center;
}

.main-container{
  width: 100%;
  height: 100%;
  min-height: 100vh;
}

.page a, .navbar a {
  font-weight: 500;
  color: #f4ece4;
  text-decoration: none !important;
  transition: color 0.5s;
}
      .page a:hover,.navbar a:hover{
        color: #d1ab83;
      }

/* Page styles */
 .page{
    background-color: #f4ece4;
    display: flex;
    flex-direction: column;
    height: 100%;
    padding-top: 60px;
    min-height: 93vh;
    justify-content: center;
    align-items: center;
    justify-items: center;
  }
  
.page-title{
    font-family: var(--font-family-serif);
    font-size: 2.8em;
    color: #2E2D2E;
    text-align: center;
    margin: 20px 0;
    font-weight: 500;
    max-width: 100%;
  }


/*Button styles*/

.page .btn-primary{
  display: flex;
  justify-content: center;
  font-size: 1em;
  border-radius: 50px;
  background-color: #d1ab83;
  border-color: #d1ab83;
  color: white;
  justify-items: center;
  align-items: center;
  vertical-align: middle;
  text-align: center;
  width: fit-content;
  font-weight: 500;
  margin-top: 0px;
  transition:  all 0.5s;
  border-style: none;
  padding: 7px 20px;
}
        .page .btn-primary:hover{
          background-color: #191919;
          border-color: #191919;
          opacity: 0.9;
          box-shadow: rgba(0, 0, 0, 0.24) 0px 1.5px 3px;
          cursor: pointer;
        }


.btn-icon{
  background-color: transparent;
  color: #d1ab83;
  margin-top: 0 !important;
  padding: 0;
  left: 5px;
  border: none;
  max-width: fit-content;
  max-height: fit-content;
  transition: color 0.5s;
  font-size: 1.4em !important;
  outline: none;
  width: fit-content;
  position: relative;
}
        .btn-icon:hover, .btn-icon:focus, .btn-icon path:focus{
          color: #2E2D2E;
          background-color: transparent;
          cursor: pointer;
          outline: none;
        }


.page .btn-back{
  display: flex;
  position: fixed;
  font-size: 1.8em;
  top: 100px;
  left: 30px;
  color: #d1ab83;
  background-color: transparent;
  text-align: left;
  transition: color 0.5s;
  z-index: 100;
}
        .page .btn-back:hover{
          color: #2E2D2E;
        }


.page .btn-home{
  font-size: 1em;
  color: #d1ab83;
  justify-items: center;
  align-items: center;
  vertical-align: middle;
  transition:  0.5s;
  text-align: center;
  justify-content: center;
  border: 1px solid transparent;
  padding: 0.3em 1em;
  border-radius: 50px;
  transition: all 0.5s;
}
        .page .btn-home:hover{
          color: #c8753d;
          border-color: #d1ab83;
          font-weight: 600;
          font-size: 0.975em;
          cursor: pointer;
        }




/* Form styles */

form{
  display: flex;
  justify-content: center;
  align-items: center;
  justify-items: center;
}


.page-form{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  width: 100%;
}

.error {
  font-size: 1em;
  color: rgb(193, 83, 83);
  text-align: center;
  font-weight: 500;
  margin: 0;
  }

.success {
  font-size: 1em;
  color: rgb(90, 142, 124);
  text-align: center;
  font-weight: 500;
  margin: 5px 0 0 0;
  }

  .success-register {
  font-size: 1em;
  color: rgb(90, 142, 124);
  text-align: center;
  font-weight: 500;
  margin: 5px 0 0 0;
  }


 /* Card styles */


  .card{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    padding: 40px;
    background-color: white;
    border-radius: 10px;
    width: 90%;
    max-height: 90%;
    height: 600px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  }


  .custom-card{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 1em;
    width: 280px;
    padding: 0;
    background-color: #f4ece4;
    color: #d1ab83;
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.14) 0px 2px 5px;
    transition: box-shadow 0.5s;
    border: 0px solid transparent;
  }
        .custom-card:hover{
          box-shadow: rgba(0, 0, 0, 0.24) 0px 4px 8px;
        }
        .custom-card .card-body{
          width: 90%;
          padding: 0;
        }
        .custom-card .card-img-top{
          max-width: 100%;
          border-radius: 8px 8px 0 0;
          object-fit: cover;
          border: 0px solid transparent;
        }
        .custom-card .card-title{
          font-family: var(--font-family-serif);
          font-size: 1.5em;
          font-weight: 500;
          line-height: 1.1;
          margin: 0;
          color:#d1ab83;
          margin-bottom: 15px;
          transition: color 0.5s;
          text-transform: capitalize;
        }
  
  .card-pizza .ingredients{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1em 0;
    color: #d1ab83;
    font-family: var(--font-family-sans);
    font-size: 0.9em;
    line-height: 1.1;
    border-top: 0.5px solid #d1ab83;
    border-bottom: 0.5px solid #d1ab83;
    height: 120px;
    transition: color 0.5s;
  }
  
           .card-pizza .ingredients .ingredients-title{
            font-weight: 600;
            padding-bottom: 5px;
            margin: 0;
          }
  
          .card-pizza .ingredients ul{
            margin: 0;
            padding: 0;
            width: 100%;
            list-style-type: none;
            display: grid;
            grid-template-columns: repeat(1, auto);
            column-gap: 2em;
            row-gap: 0.2em;
            align-items: center;
            justify-content: center;
            justify-items: center;
          }

          .card-pizza .ingredients li{
            font-weight: 400;
            text-transform: capitalize;
          }
  
    .card-pizza .price{
    font-family: var(--font-family-serif);
    font-size: 1.4em;
    font-weight: 500;
    padding: 0.5em 0;
    margin: 0;
    color:#d1ab83;
    text-align: center;
    align-items: center;
    transition: color 0.5s;
  }
  .custom-card .card:hover .price, .custom-card .card:hover .ingredients, .custom-card .card:hover .card-title{
    color: #2E2D2E;
    opacity: 1;
  }
  .custom-card .card-bottom {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    padding: 0.5em 0 2em 0;
  }
  .custom-card .card-bottom .card-btn{
      display: flex;
      font-size: 1em;
      border-radius: 50px;
      background-color: #d1ab83;
      color: #f4ece4;
      font-weight: 500;
      justify-items: center;
      align-items: center;
      vertical-align: middle;
      transition: background-color 0.5s;
      transition: border-color 0.25s;
      transition: filter 0.5s;
      border-color: #d1ab83;
      text-align: center;
      justify-content: center;
      padding: 2px 20px;
    }
            .custom-card .card-bottom .card-btn:hover{
              background-color: #2e2d2d;
              border-color: #2e2d2d;
              opacity: 0.9;
              box-shadow: rgba(0, 0, 0, 0.24) 0px 1.5px 3px;
              cursor: pointer;
            }
